{% extends "layout.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'otherUserProfile.css'%}">
<link rel="stylesheet" href="{% static 'myProfile.css'%}">
<link rel="stylesheet" href="{% static 'article.css' %}">
{% endblock style %}

{% block title %}BlogSphere | My Profile {% endblock title %}
{% block content %}

<section class="user-profile">
   <div class="user-settings">
<div class="user-image-container">
    {% if   is_users_profile  %}
    <form action=""  method="POST" enctype="multipart/form-data" >
    <input type="file" name="avatar" id="avatar">
</form>
{% endif %}
{% if user_profile.profile_pic  %}

<img class="user-image" src="{{user_profile.profile_pic.url}}" alt="User's profile picture">
{% else %}
<img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
{% endif %}
{% if user_profile.first_name and user_profile.last_name %}
<span class="user-fullname">
   {{user_profile.first_name}} {{user_profile.last_name}}
  </span>
   {% else %}
   <span class="user-fullname">
   {{request.user}}
   </span>
      {% endif %}
<div>
  <div role="table" class="table">
    <div role="row" class="col">
        <div role="columnheader" class="th">Posts</div>
        <div  role="cell" class="td">{{ user_profile.user.post_set.all.count }}</div>
    </div>
    <div role="row" class="col">
        <div role="columnheader" class="th">Followers</div>
        <div  role="cell" class="td">{{ user_profile.followers.count }}</div>
    </div>
    <div role="col" class="col">
        <div role="columnheader" class="th">Following</div>
        <div  role="cell" class="td">{{user_profile.following.count}}</div>
    </div>
   </div>
  </div>
</div>
 <ul class="settings-list">
  <li><a class="{% if tab == 'informations' %} tab-active {% endif %}" href="{% url 'editProfile' %}?tab=informations">Informations</a></li>
   <li><a class="{% if tab == 'posts' %} tab-active {% endif %}" href="{% url 'editProfile' %}?tab=posts">Posts</a></li>
   <li><a class="{% if tab == 'settings' %} tab-active {% endif %}" href="{% url 'editProfile' %}?tab=settings">Settings</a></li>
   <li><a  href="{% url 'logout' %}">Logout</a></li>
 </ul>
</div>



<section class="user-information">
  {% if tab == 'informations' %}
  <h1 class="tab-heading"> {{user_profile}} </h1>
      {% include "account/components/myProfile/form.html" %}
    {% endif %}

    {% if tab == 'posts' %}
    <h1 class="tab-heading">My Posts </h1>
      {% include "account/components/myProfile/posts.html" %}
    {% endif %}
    {% if tab == 'settings' %}
    <h1 class="tab-heading">Settings </h1>
      {% include "account/components/myProfile/posts.html" %}
    {% endif %}

  
</section>
</section>
{% endblock content %}
