{% extends "layout.html" %}
{% load static %}
{% block style %}
{% comment %} <link rel="stylesheet" href="{% static 'otherUserProfile.css'%}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'article.css' %}">
<link rel="stylesheet" href="{% static 'myProfile.css'%}">
{% endblock style %}

{% block title %}BlogSphere | My Profile {% endblock title %}
{% block content %}


{% if form.errors %}
    <div class="error-message">
        <p>Form submission failed. Please check the errors below:</p>
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<section class="user-profile">
   <div class="user-settings">
{% comment %} <div class="user-image-container">
    

{% if user_profile.profile_pic  %}

<img class="user-image myprofile-pic " src="{{user_profile.profile_pic.url}}" alt="User's profile picture">
{% else %}
<img class="no-picture myprofile-pic" src="{% static 'images/no-profile-picture.svg' %}" alt="">
{% endif %}
{% if user_profile.first_name and user_profile.last_name %}
<span class="user-fullname">
   {{user_profile.first_name}} {{user_profile.last_name}}
  </span>
   {% else %}
   <span class="user-fullname">
   {{request.user}}
   </span>
      {% endif %}
<div>
  <div role="table" class="table">
    <div role="row" class="col">
        <div role="columnheader" class="th">Posts</div>
        <div  role="cell" class="td">{{ user_profile.user.post_set.all.count }}</div>
    </div>
    <div role="row" class="col">
        <div role="columnheader" class="th">Followers</div>
        <div  role="cell" class="td">{{ user_profile.followers.count }}</div>
    </div>
    <div role="col" class="col">
        <div role="columnheader" class="th">Following</div>
        <div  role="cell" class="td">{{user_profile.following.count}}</div>
    </div>
   </div>
  </div>
</div> {% endcomment %}

</div>


<section class="user-information">
    {% block myProfile-content %}
    
     

      {% endblock myProfile-content %}
    </section> 
</section>
{% endblock content %}
