{% extends "layout.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'article.css'%}">
<link rel="stylesheet" href="{% static 'otherUserProfile.css'%}">
<script defer src="{% static 'js/otherUsersProfile.js' %}"></script>

{% endblock style %}

{% block title %}BlogSphere | {{user_profile.user}}'s profile{% endblock title %}
{% block content %}


<section >
    <fieldset class="user-profile" >
<div class="user-image-container">
    {% if is_users_profile %}
    <p type="file" name="avatar" id="avatar"></form>{% endif %}
{% if user_profile.profile_pic  %}

<img class="user-image user-profile" src="{{user_profile.profile_pic.url}}" alt="User's profile picture">
{% else %}
<img class="no-picture no-picture-othersUser-profile" src="{% static 'images/no-profile-picture.svg' %}" alt="">
{% endif %}

<div class="row user-details">
  <span class="user-fullname">
{% if user_profile.first_name and user_profile.last_name %}
   {{user_profile.first_name}} {{user_profile.last_name}} 
   {% else %}
     {{user_profile}} 
  
     
     {% endif %}
    </span>
    
      
      <form method='POST' >
        {% csrf_token %}
        {% if user_profile not in request.user.profile.following.all %}
          <button class="follow-status" name="follow" value="follow" type="submit"><img class="follow-status-icon" src="{% static 'images/follow.svg' %}">
          <span class="follow-action">Follow</span>
          </button>
          {% else %}
          <button class="follow-status" name="follow" value="unfollow" type="submit">
              <img class="follow-status-icon" src="{% static 'images/unfollow.svg' %}" alt="">
              <span class="follow-action">Unfollow</span>
          </button>
          {% endif %}
        </form>
        
      
   
      </div>
    {% comment %} ADD follow status {% endcomment %}
<div>
    <div role="table" class="table">
      <div role="col" class="col">
          <div role="columnheader" class="th">Posts</div>
          <div  role="cell" class="td">{{ user_profile.user.post_set.all.count }}</div>
      </div>
      <div role="col" class="col">
          <div role="columnheader" class="th">Followers</div>
          <div  role="cell" class="td">{{ user_profile.followers.count }}</div>
      </div>
      <div role="col" class="col">
          <div role="columnheader" class="th">Following</div>
          <div  role="cell" class="td">{{user_profile.following.count}}</div>
      </div>
  
    </div>
  </div>

</div>


<form action="">
<fieldset class="border-fieldset">
  <div class=" links">
    <a class="links-user "  href="{% url 'user-profile' username=user_profile tab='informations' %}">Informations</a>
    <span class="slash">|</span>
    <a class="links-user " href="{% url 'user-profile' username=user_profile tab='posts' %}">
      Posts <span class="post-count {% if tab == 'posts' %} post-count--active {% endif %}">({{ user_posts.count }})</span>
  </a>
  
  </div>
 <legend>{{user_profile.user.username}}</legend>
<section class="user-information">
  {% if tab == "posts" %}
  {% include "./user_posts.html" %}
{% elif tab == "informations" %}
  {% include "./user_informations.html" %}
{% endif %}

    
</section>
<script>
  const unfollowSvgUrl = "{% static 'unfollow.svg' %}";
  const followSvgUrl = "{% static 'follow.svg' %}";
</script>
{% endblock content %}
