<form class="user-settings" method="POST" action="">
    {% csrf_token %}
  
    <fieldset class="border-fieldset">
    <legend> {{user_profile}} </legend>
 <div class="row">
 <fieldset class="col-user-details">
    <label for="id_first_name">First Name:</label>
    {{ form.first_name }}
 </fieldset>
 <fieldset class="col-user-details">
    <label for="id_email">Email:</label>
    {{ form.email }}
 </fieldset>
 </div>
 <div class="row">
 <fieldset class="col-user-details">
    <label for="id_last_name">Last Name:</label>
    {{ form.last_name }}
 </fieldset>
 <fieldset class="col-user-details">
    <label for="id_gender">Gender:</label>
    {{ form.gender }}  
 </fieldset>
 </div>
 <div class="row">
 <fieldset class="col-user-details">
    <label for="id_last_name">Birthday:</label>
    {{ form.birthday }}
 </fieldset>
 <fieldset class="col-user-details">
    <label for="id_gender">Country:</label>
    {{ form.country }}  
 </fieldset>
 </div>
 <div class="row">
    <fieldset class="col-user-details">
       <label for="id_last_name">Job:</label>
       {{ form.job }}
    </fieldset>
    <fieldset class="col-user-details">
       <label for="id_gender">City:</label>
       {{ form.city }}  
    </fieldset>
    </div>
    <div class="row">
        <fieldset class="col-user-details">
           <label for="id_last_name">About:</label>
           {{ form.bio }}
        </fieldset>
        </div>
    <div class="row">
    
     <input class="save" type="submit" value="Submit">
        </div>
</fieldset> 
</form>