{% extends "account/myProfile.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'article.css' %}">
<link rel="stylesheet" href="{% static 'myProfile.css'%}">

{% endblock style %}
{% block myProfile-content %}
<h1 class="tab-heading"> {{user_profile}} </h1>
{% comment %} <div class=" links">
   <a class="links-user "  href="{% url 'my-informations' %}">Informations</a>
   <span class="slash">|</span>
   <a class="links-user " href="{% url 'my-posts' %}">
     Posts <span class="post-count ">({{ user_profile.user.post_set.all.count}})</span>
 </a>
 
 </div>  {% endcomment %}
<form class="user-settings" method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
  
   
    
 <div class="row tab-form">
 <fieldset class="col-user-details">
    <label for="id_first_name">First Name:</label>
    {{ form.first_name }}
 </fieldset>
 <fieldset class="col-user-details">
    <label for="id_email">Email:</label>
    {{ form.email }}
 </fieldset>
 </div>
 <div class="row tab-form">
 <fieldset class="col-user-details">
    <label for="id_last_name">Last Name:</label>
    {{ form.last_name }}
 </fieldset>
 <fieldset class="col-user-details">
    <label for="id_gender">Gender:</label>
    {{ form.gender }}  
 </fieldset>
 </div>
 <div class="row tab-form">
 <fieldset class="col-user-details">
  
   {{ form.profile_pic }}  
 </fieldset>
</div>
 <div class="row tab-form">
 <fieldset class="col-user-details">
    <label for="id_birthday">Birthday:</label>
    {{ form.birthday }}
 </fieldset>
 <fieldset class="col-user-details">
    <label for="id_country">Country:</label>
    {{ form.country }}  
 </fieldset>

 </div>
 <div class="row tab-form">
    <fieldset class="col-user-details">
       <label for="id_job">Job:</label>
       {{ form.job }}
    </fieldset>
    <fieldset class="col-user-details">
       <label for="id_city">City:</label>
       {{ form.city }}  
      </fieldset>
   </div>
    <div class="row textarea tab-form">
        <fieldset class="col-user-details">
           <label style='text-align: start ' for="id_bio">About:</label>
           {{ form.bio }}
        </fieldset>
        <fieldset></fieldset>
        </div>
    <div class="row tab-form">
     <input class="save" type="submit" value="Submit">
        </div>
</form>


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' and 'update-profile' in message.extra_tags %}
            <div class="success-message">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock myProfile-content %}