{% extends "../layout.html" %}
{% load static%}

{% block style %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'article.css' %}">
{% endblock  %}

{% block title  %}Homepage{% endblock  %}

    {% block content%}
     {% if messages %}
    {% for message in messages %}
        {% if 'registration' in message.tags %}
            <h1 class="welcome-message">
                {{ message }}
            </h1>
        {% elif 'login' in message.tags %}
            <h1 class="welcome-message">
                {{ message }}
            </h1>
        {% endif %}
    {% endfor %}
{% endif %} 


    
   

 
   <div class="home-links">
    <a href="">For you</a>
    <a href="">Following</a>
   </div>

  

   

    {% endblock %}
