{% extends "../layout.html" %}
{% load static%}

{% block style %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'article.css' %}">
<link rel="stylesheet" href="{% static 'home-post.css' %}">
<script defer src="{% static 'js/index.js' %}"></script>

{% endblock  %}

{% block title  %}Homepage{% endblock  %}

    {% block content%}
     {% if messages %}
    {% for message in messages %}
        {% if 'registration' in message.tags %}
            <h1 class="welcome-message">
                {{ message }}
            </h1>
        {% elif 'login' in message.tags %}
            <h1 class="welcome-message">
                {{ message }}
            </h1>
        {% endif %}
    {% endfor %}
{% endif %} 
<div class="home-grid">
    <section class="feed">
{% if  logged_user %}


<div class="home-links">
 <a class=" {% if request.path == '/' %} active {% endif %}" href="{% url 'home' %}">For you</a>
 <span>  |  </span>
 <a href="{% url 'following' %}">Following</a>
</div>
{% endif %}

    
   <section class="feed-posts">


  {% for post in posts %}

{% include "blog/components/post.html" %}
  
  {% endfor %}</section></section>
<div class='col-2'>
    {% include "blog/home-popular.html" %}
</div>
</div>

    {% endblock %}
