
{% extends '../layout.html' %}
{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'post.css' %}">
{% endblock  %}
 {% block title %}BlogSphere | {{post.title}}{% endblock title %}
 {% block content %}
 <div class="container">
    <a class='see-all' href="{% url "posts" %}">See all posts</a>
    <article>
    <h1>{{post.title}}</h1>
      <p>{{post.body | linebreaks}}</p>
    </article></div>

 
    <h2 class="comments-heading">Comments <span class="count">({{post.comments.count}})</span></h2>{% endblock content %}
    {% block comments %}
    <hr> 
    {% if request.user.is_authenticated %}
    {% include "blog\components\commentForm.html" %}
    {% endif %}
    <section class="comments container">
      {% for comment in post.comments.all %}
     
      {% include "blog\components\comment.html" %}
      {% endfor %}
    </section>
    {% endblock comments %}
    
