{% extends '../layout.html'%}
{% load static%}

{% block style %}
<link rel="stylesheet" href="{% static "posts.css"%}">
<link rel="stylesheet" href="{% static "article.css"%}">
    
{% endblock  %}

{% block title %}BlogSphere | All Posts{% endblock title %}



{% block content %}


<div class="heading-row" >
  {% if filtered_posts %}
  
     <div class="search-container">
     <h1>Search Results for <span class="post-about">{{search}}</span>:  <span class="search-container-count" > {% if filtered_posts.count != 0 %}{{filtered_posts.count}}{% endif %} </span></h1>
<div class="search-container--filter">
{% if filtered_posts.count %}
<h4>Filter by:</h4>
<div class="filter-links"> 
<a class=" {% if filter == 'author' %} filter-active {% endif %}  filter-by--author filter-link" href="{% url 'posts'%}?filter=author&q={{search}}"> Authors <span >{{filtered_posts_by_author.count}}</span> </a>
<a class=" {% if filter == 'title' %} filter-active {% endif %} filter-by--title filter-link" href="{% url 'posts'%}?filter=title&q={{search}}"> Posts <span >{{filtered_posts_by_title.count}}</span></a>
<a class="{% if filter == 'tag' %} filter-active {% endif %} filter-by--tag filter-link" href="{% url 'posts'%}?filter=tag&q={{search}}"> Tags <span >{{filtered_posts_by_tag.count}}</span></a>
<a class="filter-reset filter-link" href="{% url 'posts'%}?q={{search}}"> Reset filter</a>
</div>
{% endif %}

</div>
</div>
{% else %}
{% if tag %}
<h1 >Posts about <span class="post-about">{{tag}}</span></h1>


{% endif %}
{% endif %}

 
    
</div>


   
     <ul class="blogs">
        {% if tag %}
        {% for post in tag_posts %}
        {% include "components/article.html" %}
        {% endfor %}
        {% else %}
        {% if not filtered_posts and not search %}
    {% for post in all_posts %}
   {% include "components/article.html" %}
    {% endfor %}
  {% endif %}
    {% if filtered_posts and not filter %}
    
    {% for post in filtered_posts %}
   {% include "components/article.html" %}
   {% endfor %}
   {% else %}
   {% include "blog/components/filteredPost.html" %}
{% endif%} {% endif %}


</ul> 

{% if not filtered_posts and search %}
<div class="no-results-container">
<img class='no_results-img' src="{% static 'images/empty.svg' %}" alt="">
<p class="no_results-message">No post where found about: <span class="accent-clr">{{search}}

</span> 
</p>
</div>
{% endif %}



{% endblock content %}