{% load static %}

<div class="comment "> 
    <header class="comment-header">    
    {% comment %} if no profile-picture {% endcomment %}
      {% if comment.user ==  request.user %}
     <div class="header-details">
      <a href=""> 
    {% if not comment.user.profile.profile_pic %}
  <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
  {% else %}
        <img class="profile-picture" src="{{comment.user.profile.profile_pic.url}}" alt="">
  
  {% endif %}
</a>
  
{% else %}

<a href="{% url 'user-profile'  username=comment.user  tab='informations' %}"> 
  {% if not comment.user.profile.profile_pic %}
<img class="no-picture comment-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
{% else %}
      <img class="profile-picture" src="{{comment.user.profile.profile_pic.url}}" alt="">

{% endif %}
</a>
  {% endif %}
  <div class="comment_user-details">
    <span class="comment_user-details-posted_at">{{comment.timestamp}}</span>
    <span class="comment_user-details-username">{{comment.user}} {{comment.id}}</span>
    {% if comment.user.profile.job %}
    <span class="comment_user-details-job " >{{comment.user.profile.job}}</span>
    {% endif %}
  </div></div>
  {% if comment.user ==  request.user %}
  <div class="options ">
   <button class="options-button">
      <img class="options-icon" src="{% static 'options.svg '%}" alt="">
  </button>

  <div class="links-actions  ">
      
  <a class="action-button" href="{% url 'edit' id=post.id %}">Edit  post
      <img class='edit' src="{% static 'images/test.svg' %}" alt="">
  </a> 
<a href="{% url 'delete_comment' pk=comment.id %}"  class="action-button openDeletePostDialogBtns"> Delete post {{post_id}}
 <img class='delete' src="{% static 'images/delete.svg' %}" alt="">

</a>

</div>
</div>
{% endif %}
</header>
<p class="comment-body">
   {{ comment.body}}
</p>




</div></div>





{% comment %} <div class="dialog-wrapper">
  <dialog  class="delete-dialog dialog">
     
      <h4 class="delete-message--title">Are you sure you want to delete  your comment with id : <span>{{comment.id}}?</span></h4>
      <form  method="POST" action="{% url 'delete_comment' pk=comment.id%}">
          {% csrf_token %}
          <div class="delete-links">       
              <button class="delete-btn">Delete</button>
              <a class="cancel-btn" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
             
      </div>
      </form>
     
  </dialog></div> {% endcomment %}