{% load static %}

<div class="comment "> 
    <header class="comment-header">    
    {% comment %} if no profile-picture {% endcomment %}
      {% if comment.user ==  request.user %}
     <div class="header-details">
      <a href=""> 
    {% if not comment.user.profile.profile_pic %}
  <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
  {% else %}
        <img class="profile-picture" src="{{comment.user.profile.profile_pic.url}}" alt="">
  
  {% endif %}
</a>
  
{% else %}

<a href="{% url 'user-profile'  username=comment.user  tab='informations' %}"> 
  {% if not comment.user.profile.profile_pic %}
<img class="no-picture comment-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
{% else %}
      <img class="profile-picture" src="{{comment.user.profile.profile_pic.url}}" alt="">

{% endif %}
</a>
  {% endif %}
  <div class="comment_user-details">
    <span class="comment_user-details-posted_at">{{comment.timestamp}}</span>
    <span class="comment_user-details-username">{{comment.user}}</span>
    {% if comment.user.profile.job %}
    <span class="comment_user-details-job " >{{comment.user.profile.job |title}}</span>
    {% endif %}
  </div>
  {% if comment.user ==  request.user %}
  <div class="options ">
   <button class="options-button">
      <img class="options-icon" src="{% static 'options.svg '%}" alt="">
  </button>

  <div class="links-actions  ">
      
  <a href="{% url 'edit_comment' pk=comment.id %}" class="action-button editComment" >Edit  post {{comment.id}}
      <img class='edit' src="{% static 'images/test.svg' %}" alt="">
  </a> 
<a href="{% url 'delete_comment' pk=comment.id %}"  class="action-button openDeletePostDialogBtns"> Delete post {{post_id}}
 <img class='delete' src="{% static 'images/delete.svg' %}" alt="">

</a>
</div></div>
{% endif %}
</header>
<p class="comment-body">
   {{ comment.body}}
</p>

</div>

</div>








