{% extends "layout.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'editComment.css'%}">
{% endblock style %}
{% block content %}

<h2 class="edit_comment-heading">Edit Comment</h2>
<div  class="comment-form "> 

    <header class="comment-header">    
    {% comment %} if no profile-picture {% endcomment %}
    {% if not user.profile.profile_pic %}
  <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
  {% else %}
        <img class="profile-picture" src="{{user.profile.profile_pic.url}}" alt="">
  
  {% endif %}


  <form action="{% url 'edit_comment' pk=comment_to_edit.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="redirect_url" value="{{request.META.HTTP_REFERER}}">
    {% for field in form %}
    <fieldset class=" edit-comment ">
      {{field}}
    </fieldset>
    
    {% endfor %}
    <div class="row">
    <button class="cancel-btn comment-btn " type="submit">Save changes</button></div>
  </form></header>




</div>
{% endblock content %}