{% load static %}


<div class="comment-form "> 
  <span class="add-comment">Add a Comment</span>
    <header class="comment-header">    
    {% comment %} if no profile-picture {% endcomment %}
    {% if not user.profile.profile_pic %}
  <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
  {% else %}
        <img class="profile-picture" src="{{user.profile.profile_pic.url}}" alt="">
  
  {% endif %}


  <form action="{% url 'post' slug=post.slug %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <fieldset class="comment-textarea ">
      {{field}}
    </fieldset>
    
    {% endfor %}
    <div class="row">
    <button class="cancel-btn comment-btn hidden" type="submit">Add a comment</button></div>
  </form></header>




</div></div>