.edit-comment {
    background-color: #fff;
    max-width: 85%;
    border: none;
    margin-top: 2em;
    margin-inline: auto;
   
    
}

.edit_comment-heading .accent-clr {
    font-style: italic;
    font-size: var(--fs-600);
}


.edit_comment-heading {
    margin-top: 3rem;
    
    font-size: var(--fs-650);
    color: var(--main-clr);
    font-weight: 700;
  }


.edit-comment > textarea {
    resize: vertical;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    height: 40px;
    padding-block: 0.75rem;
    padding-inline: 1em .25em;
    border-radius: 8px;
    border: none;
    outline: 1px solid var(--main-clr);
    width:1000px;
    transition: width 0.75s ease-in;
    width:100%;
    border: none;
    line-height: inherit;
}