#welcome {
  margin-top: var(--gutter-y-900);
}

#welcome h2 {
  color: var(--heading-clr);
  font-size: 2.25rem;
}

h1 {
  margin-top: 3em;
}

.latest_blogs {
  padding-inline: 1.25rem;
  display: flex;
  box-shadow: inset 0 0.25rem 0.15rem rgba(0, 0, 0, 0.2); /* converted from 4px 4px 8px */
}

.blogs {
  display: grid;
  padding-block: 2.5em;
  grid-auto-flow: column;
  padding-inline: 0.5em;
  overflow-x: scroll;
  scroll-snap-align: start;
  scroll-snap-type: mandatory;
  align-items: center;
  scrollbar-color: var(--main-clr) #fff;
  box-shadow: inset 0 0.25rem 0.15rem rgba(0, 0, 0, 0.2);
  margin-bottom: 4em;
}

h2 {
  color: var(--main-clr);
  font-size: var(--fs-650);
  margin-block-end: 0.5em;
}


.article-header, .article-details {
  display: grid;
  align-items: center;
  grid-template-columns: 3.75rem 1fr;
  gap: 1rem;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
}

.home-links{
  font-size: var(--fs-600);
  text-decoration: underline;
  text-underline-offset: 6px;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.home-links > a {
  color: var(--main-clr) !important;
}
.home-links > a.active {
  
  font-weight: 800;
}


.feed-posts {
  display: grid;
  gap: 4rem;
  margin-left: 1.5rem;
 


}

.col-2 {
  max-height: 100%;
  padding-right: 1.5em;
  display: grid;
  justify-content: space-evenly;

  
}


h3 {
  text-align: center;
  margin-bottom: 0.75em;
  font-size: var(--fs-600);
  color: var(--main-clr);
} 



.tags_posts,
.latest-popular-posts {

 list-style: none;
 display: grid;
 gap:1.25rem;
 max-height: 300px;
 overflow-y: auto;
}


.tag-posts-item {
  display: grid;
  justify-content: center;
  align-items: center;
  transition: background-color .5s ease-in-out, color .5s ease-in;
  min-height: 60px;
}
.tag-posts-item:hover {
 background-color: #ffffff78;

}
.tag-posts-item:hover > * {
 color: var(--accent-clr);
 font-weight: 600;

}

.tag-title{
  display: block;
  text-align: center;
  color: var(--main-clr);
  font-weight: 600;
  
}

.tag-count {
  text-align: center;
  color: var(--main-clr);
  font-weight: lighter;

  
}

.latest-popular-posts--heading{
margin-bottom: 0.75em;
text-align: center;
display: block;
  background-color: var(--heading-clr);
  color: white !important;
  padding-block: 0.25em;
  padding-inline: 0.75em;
  min-height: 60px;
  line-height: 1.2;
  width: 100%;
  font-size: var(--fs-500);
  position: relative;

}

.profile-picture, .no-picture {
  border-radius: 50%;
  width:50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  
  top:0;
  left:0;
}