section.notifications {
    margin-top: 4rem;
    display: grid;
    gap: 1.125rem;
}

.notification {
    display: flex;
    align-items: center;
    gap: .75rem;
    max-width: 75%;
    background-color: #fff;
    padding:1.5rem 1rem;
    border-radius: 1vmin;
    position: relative;
}
header.notification-user-details {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.notification-picture {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    object-position: center;
}

.notification-username {
    color: var(--accent-clr);
}


.created_at {
    flex:1;
    text-align: end;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: var(--fs-350);
    color: var(--main-clr-light);
}