{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome {% endblock %}</title>


    <link rel="stylesheet" href="{% static "global.css"%}">
    <script defer src="{% static 'js/global.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 
    {% block style%} {% endblock %}
</head>
<body>
    {% include "./components/header.html" %}
    <main class="container main">
    {% block content %}
    {% endblock content %}
</main>
{% include "./components/footer.html" %}
</body>
</html>