{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome {% endblock %}</title>


    <link rel="stylesheet" href="{% static "global.css"%}">
    <script defer src="{% static 'js/global.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
 
    {% block style%} {% endblock %}
</head>
<body>
    {% include "./components/header.html" %}
    <div class="main-layout">
  
        <nav class='aside-nav'>
            <ul>
                {% for link in nav_links %}
                  <li > <a class='nav-item' href="{% url link.destination %}">
                    <img src="{% static link.destination|add:'.svg' %}" alt="">
                 <span> {{ link.text | title }}</span></a>
            
                  </li>
                  {% endfor %} 
                  <div class="nav-user-detais-container">
                  {% if request.user.profile %}
                  <button id="profile-pic" >
                   {% if request.user.profile.profile_pic %} 
                   <img class="profile-picture header-picture" src="{{ request.user.profile.profile_pic.url }}" alt="Profile Picture">
                {% endif %} 
                {% if  not request.user.profile.profile_pic  %}
                <img class="no-picture header-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
               {% endif %}
              
               {% endif %} 
               <div class="nav-user-details">
                <span class="nav-user-details-name">{{logged_user.first_name}}</span>
              
                <span class="nav-user-details-name">{{logged_user.last_name}}</span>
               </div></div></button>
                 
                
               </ul> 
        </nav>
    
    <main class="container main">
    {% block content %}
    {% endblock content %}
</main>
{% block comments %}{% endblock comments %}
</div>
<ul class="nav-list-hidden hidden ">
    <li><a href="{% url 'my-informations'%}">Informations</a></li>
    <li><a href="{% url 'my-posts'%}">Posts</a></li>
    {% comment %} <li><a href="{% url 'my-settings'%}">Settings</a></li> {% endcomment %}
</ul>

{% comment %} {% include "./components/footer.html" %} {% endcomment %}
<script>
   
    const myProfileHref = "{% url 'my-informations' %}";
</script>
</body>
</html>