{% load static %}

{% block style %}{% endblock %}

<li class="post ">
   
    {% if not tab %}
    <header class="author">
            
            {% if request.user == post.author %}
            <div class="options ">
             <button class="options-button">
                <img class="options-icon" src="{% static 'options.svg '%}" alt="">
            </button>
        
            <div class="links-actions  ">
                
            <a class="action-button" href="{% url 'edit' id=post.id %}">Edit  post
                <img class='edit' src="{% static 'images/test.svg' %}" alt="">
            </a> 
        <button  class="action-button openDeletePostDialogBtns"> Delete post {{post_id}}
           <img class='delete' src="{% static 'images/delete.svg' %}" alt="">

        </button>
    
    </div>
   </div>
        
        {% endif %}
   
        {% if post.author != request.user %}
         <a href="{% url 'user-profile' username=post.author tab='informations' %}"> 
            {% else %}
            <a href="{% url 'editProfile' %}?tab=informations">  
       {% endif %}
       {% if post.author.profile.profile_pic %}
       <img class="profile-picture" src="{{ post.author.profile.profile_pic.url }}" alt="Profile Picture">
 
{% else %}
            <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
            {% endif%}

        </a>
            <div class="author-post__details">
             
                {% if post.author != request.user  %}
                <a href="{% url 'user-profile' username=post.author tab='informations' %}">
                    <span class="author-post__details-name">{{post.author.username}}</span> </a>{% endif %}
             
                {% if post.author == request.user  %}
                <a href="{% url 'editProfile' %}?tab=informations">
                    <span class="author-post__details-name">{{post.author.username}}</span> </a>{% endif %}
                    <span class="author-post__details-date">{{post.created_at|date:"d/m/y"}}</span></div>
                </header>
                {% endif %}
                <a href="{% url 'post' post.slug %}">
        <div class="title-container">
            <h3 class="post-title">{{ post.title }}</h3>
           
        </div>
        <div class="content">
            <p class="post-content">
                {{ post.body|slice:":175" }}
                {% if post.body|length > 175 %}
                ... <a class="read_more" href="{% url 'post' post.slug %}">Read More</a>
                {% endif %}
            </p>
        </a>
            <div class="row">
                {% comment %} <div>
                    <span class="date">{{ post.created_at|date:"d/m/y" }}</span>
                </div> {% endcomment %}
                <ul class="tags">
                    {% for tag in post.tags.all %}
                        <li><a href="{% url 'posts'%}?tag={{tag}}" class="tag"> {{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>

    <div class="dialog-wrapper">
        <dialog  class="delete-dialog dialog">
           
            <h4 class="delete-message--title">Are you sure you want to delete  your post titled: <span>{{post.title}}?</span></h4>
            <form  method="post" action="{% url 'delete' pk=post.id%}">
                {% csrf_token %}
                <div class="delete-links">       
                    <button class="delete-btn">Delete</button>
                    <a class="cancel-btn" href="{{ request.path }}">Cancel</a>
                   
            </div>
            </form>
           
        </dialog></div>