{% load static %}

{% block style %}{% endblock %}

<li class="post ">
    <header class="author">
        {% if request.user == post.author %}
        <a class="delete" href="{% url 'delete' id=post.id %}">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg class="delete" fill="#000000" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                 viewBox="0 0 330 330" xml:space="preserve">
            <g id="XMLID_6_">
                <g id="XMLID_11_">
                    <path d="M240,121.076H30V275c0,8.284,6.716,15,15,15h60h37.596c19.246,24.348,49.031,40,82.404,40c57.897,0,105-47.103,105-105
                        C330,172.195,290.816,128.377,240,121.076z M225,300c-41.355,0-75-33.645-75-75s33.645-75,75-75s75,33.645,75,75
                        S266.355,300,225,300z"/>
                </g>
                <g id="XMLID_18_">
                    <path d="M240,90h15c8.284,0,15-6.716,15-15s-6.716-15-15-15h-30h-15V15c0-8.284-6.716-15-15-15H75c-8.284,0-15,6.716-15,15v45H45
                        H15C6.716,60,0,66.716,0,75s6.716,15,15,15h15H240z M90,30h90v30h-15h-60H90V30z"/>
                </g>
                <g id="XMLID_23_">
                    <path d="M256.819,193.181c-5.857-5.858-15.355-5.858-21.213,0L225,203.787l-10.606-10.606c-5.857-5.858-15.355-5.858-21.213,0
                        c-5.858,5.858-5.858,15.355,0,21.213L203.787,225l-10.606,10.606c-5.858,5.858-5.858,15.355,0,21.213
                        c2.929,2.929,6.768,4.394,10.606,4.394c3.839,0,7.678-1.465,10.607-4.394L225,246.213l10.606,10.606
                        c2.929,2.929,6.768,4.394,10.607,4.394c3.839,0,7.678-1.465,10.606-4.394c5.858-5.858,5.858-15.355,0-21.213L246.213,225
                        l10.606-10.606C262.678,208.535,262.678,199.039,256.819,193.181z"/>
                </g>
            </g>
            </svg>
        </a> 
        <a class="delete" href="{% url 'edit' id=post.id %}">
            <?xml version="1.0" ?><svg class="edit" fill="#fff" class="feather feather-edit" fill="none" height="40" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/></svg>
        </a> {% endif %}
        {% if post.author != request.user %}
         <a href="{% url 'user-profile' username=post.author tab='informations' %}"> 
            {% else %}
            <a href="{% url 'editProfile' %}">  
       {% endif %}
            {% if post.author.profile_pic %}
    <img src="{{ post.author.profile_pic.url }}" alt="Profile Picture">
{% else %}
            <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
            {% endif%}

        </a>
            <div class="author-post__details">

                {% comment %} <a href="{% url 'user-profile' username=post.author.user.username tab='informations' %}"> {% endcomment %}
 
                    <span class="author-post__details-name">{{post.author.username}}</span> </a>
                    <span class="author-post__details-date">{{post.created_at|date:"d/F/Y"}}</span></div>
                </header>
                <a href="{% url 'post' post.slug %}">
        <div class="title-container">
            <h3 class="post-title">{{ post.title }}</h3>
           
        </div>
        <div class="content">
          
            <p class="post-content">
                {{ post.body|slice:":175" }}
                {% if post.body|length > 175 %}
                ... <a class="read_more" href="#">Read More</a>
                {% endif %}
            </p>
        </a>
            <div class="row">
                {% comment %} <div>
                    <span class="date">{{ post.created_at|date:"d/m/y" }}</span>
                </div> {% endcomment %}
                <ul class="tags">
                    {% for tag in post.tags.all %}
                        <li><a href="{% url 'posts'%}?tag={{tag}} " class="tag"> {{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
