{% load static%}

{% block style %}
<link rel="stylesheet" href="{% static "header.css"%}">
<link rel="stylesheet" href="{% static "article.css"%}">
<script defer src="{% static 'js/header.js' %}"></script>
{% endblock  %}

<header class="nav-header" >
    <div class="container header">
      <div>
       <span class="logo">Blog<span class="brand-accent">Sphere<span></span>
    </div><nav >    
    <ul class="nav">
     {% for link in nav_links %}
       <li>
        <a href="{% url link.destination %}">{{ link.text | title }}</a>
       </li>
       {% endfor %} 
       {% if request.user.profile %}
       <button id="profile-pic" >
        {% if request.user.profile.profile_pic %} 
        <img class="profile-picture header-picture" src="{{ request.user.profile.profile_pic.url }}" alt="Profile Picture">
     {% endif %} 
     {% if  not request.user.profile.profile_pic  %}
     <img class="no-picture header-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
    {% endif %}
    
    </button>{% endif %}
       {% comment %} <li>
         {% if user %} 

         <a href="{% url 'user-profile' user.username%}">Profileee</a>
       {% endif %}</li> {% endcomment %}
     
    </ul>
</nav>
</div>

<nav class="profile-links-nav right hidden">
  
    <ul class="profile-list">
      <li><a class="" href="">Informations</a></li>
       <li><a class="" href="">Posts</a></li>
       <li><a class="" href="">Settings</a></li>
       <li><a  href="{% url 'logout' %}">Logout</a></li>
    
  </ul>
</nav>

</header>