{% load static%}

{% block style %}
<link rel="stylesheet" href="{% static "header.css"%}">
<link rel="stylesheet" href="{% static "article.css"%}">
{% endblock  %}

<header class="nav-header" >
    <div class="container header">
      <div>
       <span class="logo">Blog<span class="brand-accent">Sphere<span></span>
    </div><nav >    
    <ul class="nav">
     {% for link in nav_links %}
       <li>
        <a href="{% url link.destination %}">{{ link.text | title }}</a>
       </li>
       {% endfor %} 
       {% if request.user.profile %}
       <a href="{% url 'editProfile' %}?tab=informations">
        {% if request.user.profile.profile_pic %} 
        <img class="profile-picture" src="{{ request.user.profile.profile_pic.url }}" alt="Profile Picture">
     {% endif %} 
     {% if  not request.user.profile.profile_pic  %}
     <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
    {% endif %}
    
    </a>{% endif %}
       {% comment %} <li>
         {% if user %} 

         <a href="{% url 'user-profile' user.username%}">Profileee</a>
       {% endif %}</li> {% endcomment %}
     
    </ul>
</nav>
</div>
</header>