{% load static %}
{% if post.author != request.user %}
<a href="{% url 'user-profile' username=post.author tab='informations' %}"> 
   {% else %}
   <a href="">  
{% endif %}
{% if post.author.profile.profile_pic %}
<img class="profile-picture" src="{{ post.author.profile.profile_pic.url }}" alt="Profile Picture">

{% else %}
   <img class="no-picture" src="{% static 'images/no-profile-picture.svg' %}" alt="">
   {% endif%}

</a>
   <div class="author-post__details">
    
       {% if post.author != request.user  %}
       <a href="{% url 'user-profile' username=post.author tab='informations' %}">
           <span class="author-post__details-name article_header-username">{{post.author.username}}</span> </a>{% endif %}
    
       {% if post.author == request.user  %}
       <a href="">
           <span class="author-post__details-name article_header-username">{{post.author.username}}</span> </a>{% endif %}
           <span class="author-post__details-date article_header-date">{{post.created_at|date:"d/m/y"}}</span></div>